.section{
    padding: 4rem 0 1rem 0;
}
.section__title{
    font-size: 1.25rem;
    color: var(--title-color);
    margin: 1rem;
}
.section__title span{
    color: var(--primary-color);
}
.container{
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    gap: 1.5rem;
    
}
.svg__img{
    width: 400px ;
    justify-self: center;
}